body {
    font-family: Rubik, sans-serif;
    text-align: center;
    background-color: rgb(21, 21, 21);
    background-size: cover;
    overflow: hidden;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 1) 100%);
  pointer-events: none;
  z-index: 10;
}


.content-container {
  background: linear-gradient(145deg, rgba(46, 46, 46, 0.2), rgba(18, 18, 18, 0.1));
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  /* border: px solid white; */
  box-shadow:
      0 4px 12px rgba(0, 0, 0, 0.3),
      0 6px 20px rgba(0, 0, 0, 0.2);
  z-index: 50;
  max-width: 900px;
  width: 90%;
  margin: auto;
  position: absolute;
  
}

.column-title img{
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  max-width: 70px;
  height: auto;
  color: rgb(191, 41, 41);
  /* border-bottom: 1px solid #ae3a3a; */
  padding-bottom: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.column-title img:hover{
  transform: scale(1.1);
}

.links {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  text-align: center;
  gap: 20px;
}

.link-item a {
  display: block;
  padding: 10px;
  margin: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(255, 149, 0);
  background: rgb(51, 51, 51);
  
  border-radius: 30px;
  transition: transform 0.15s ease-in-out;
}

.link-item a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.2);
  box-shadow: 0px 0px 22px 0px rgba(230,145,41,0.9),
  0px 0px 22px 0px rgba(230, 79, 41, 0.9);
  background: linear-gradient(70deg, rgb(255, 170, 0), rgb(255, 102, 0));
  animation: testy 1s ease-in-out forwards;
}

/* @keyframes testy {
  0%   { transform: scale(1) rotate(0deg); }
  100%  { transform: scale(1.2) rotate(180deg); }
} */

button {
  font-size: 2em;
  padding: 10px 20px;
  min-width: 80px;
  min-height: 80px;
  text-align: center;
  border-radius: 15px 50px 30px 5px;
  border-color: orange;
  background-color: rgb(50, 50, 50);
  color:rgb(255, 255, 255);
  cursor: pointer;
  margin-top: 100px;
  margin-left: 30px;
  font-family: inherit;
  transition: transform 0.1s ease, background-color 0.3s ease;
}

.circleContainer {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 2300px;
  z-index: 1;
}

.circles {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out, transform 0.3s ease;
  transform-origin: 0 0;
  background-color: #515151;
}

#profile {
  position: absolute;
  width: 100px; 
  height: 100px;
  z-index: 1000;
  top: -210px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #fff;
}

#hoverInfo {
  position: absolute;
  width: 100px; 
  height: 100px;
  z-index: 2000;
  top: -210px;
  left: 0%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #fff;
}

